*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f4f4;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    width:300px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.card img{
    width:120px;
    height:120px;
    border-radius:50%;
}

.card h2{
    margin:15px 0 10px;
}

.card p{
    color:gray;
    margin-bottom:15px;
}

.card button{
    padding:10px 20px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.card button:hover{
    background:#0056b3;
    color:blue;
}